<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd    
            http://www.springframework.org/schema/jee 
           http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
            http://www.springframework.org/schema/context    
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/util 
         	http://www.springframework.org/schema/util/spring-util-4.0.xsd 
            http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
            http://www.springframework.org/schema/mvc   
		http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
	default-autowire="byName">
    
    <bean id ="propertyConfigurerCache" class ="net.oschina.j2cache.util.SpringProperty">
   		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:j2cache.properties</value>
				<!-- <value>http://prop_server.cmall.com/online/merchantSupportSite/log4j.properties</value>
				<value>http://prop_server.cmall.com/online/merchantSupportSite/redis-cluster.properties</value> -->
			</list>
		</property>
	</bean>

</beans>
